@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gothic725 Bd BT";
    src:
      url("/fonts/Gothic725BT-BoldA.woff2") format("woff2"),
      url("/fonts/Gothic725BT-BoldA.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Futura Heavy";
    src:
      url("/fonts/Futura-Heavy.woff2") format("woff2"),
      url("/fonts/Futura-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  /* Headings */
  h1,
  .h1 {
    @apply text-5xl leading-tight -mx-1 mb-8 xl:text-6xl;
  }
  h2,
  .h2 {
    @apply text-4xl mb-4;
  }
  h3,
  .h3 {
    @apply text-3xl tracking-wider;
  }
  h4,
  .h4 {
    @apply uppercase text-lg font-futura tracking-wider;
  }
  h5,
  .h5 {
    @apply uppercase text-base font-futura tracking-wider;
  }

  /* Paragraphs */
  p {
    @apply mb-4 last:mb-0;
  }

  /* Horizontal Rule */
  hr {
    @apply border-t-4;
  }

  /* Portable Text */
  .portable-text a {
    @apply decoration-2 underline aria-current:no-underline;
  }
}
